* {
    box-sizing: border-box;
}
i{
    margin: 0 5px;
}
a i{
    color: black !important;
}
a:visited {
    color: black;
}

a:visited i{
    color: black;
}
#user{
    color: white !important;
    font-size: 16px;
}
body{
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Inconsolata', monospace;
    background-color: #e7eff9;
    background-image: linear-gradient(1000deg, #e7eff9 0%, #cfd6e6 74%);
}
#top{
    width: 100%;
    height: 60px;
    background: rgba(149, 119, 149,0.8);
    color: white;
}
#top nav{
    float:left;
    margin-left: 200px;
    width: 80%;
    margin-top: 25px;
}
#top nav a{
    color:white;
    text-decoration: none;
    margin-right: 30px;
    font-size:17px;
}
#top nav a:hover{
    border-bottom: 2px solid white;
    padding-bottom: 5px;
    transition: all 0.3s ease;
}
#left{
    min-width: 100px;
    width: 10%;
    height: auto;
    float:left;
    background: rgba(149, 119, 149,0.8);
    text-align: center;
    position: fixed;
    top: 160px;
    z-index: 9999;
}
#left .katlista{
    min-width: 80px;
    padding: 20px 10px;
    border-bottom: 2px solid white;
}
   
.katlista:hover{
    background: rgb(131, 104, 131);
}
.katlista a{
    color:white;
    text-decoration: none;
    font-size: 17px;
}

#right{
    width: 90%;
    float:right;
    margin-top: 20px;

}
.szoveg{
    background-color: rgba(255,255,255,0.7);
    border-radius: 10px;
    padding: 20px;
    width: 90%;
    margin: 0 auto;
}
.szoveg .box{
    margin: 10px;
}
.szoveg .kapcs{
  text-align: center;
}
.result{
    width: 50%;
    margin: 0 auto;
}
.wrapper:nth-child(1){
    margin-top: 60px;
}
.wrapper, .wrapper2{
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(500px, 500px) );
    grid-template-rows: minmax(300px,auto);
    grid-auto-flow: dense;
    grid-gap: 10px;
}
#fooldal{
    width: 30%;
    float: left;
    margin-right: 20px;
}
.termekdoboz{
    position: relative;
    padding:10px;
    margin: 20px;
    border: 0.5px solid rgb(149, 119, 149);
    border-radius: 8px;
    background-color: rgba(255,255,255,0.7);
}

.termekkep{
    width: 60%;
    margin: 0 auto;
}

.termekkep img{
    width:100%;
    height: 220px;
}
.termeknev{
    margin-top: 10px;
    font-weight: bold;
    text-align: center;
    font-size: 18px;
}
.keszlet{
    margin-top: 10px;
    text-align: center;
}
.termekar{
    margin-top: 10px;
    text-align: center;
    font-size: 18px;
}
.termekkosar{
    margin: 28px 0;
    text-align: center;
}
.termekkosar a{
    background: rgb(149, 119, 149);
    color:white;
    text-decoration: none;
    border-radius: 8px;
    padding: 10px 30px;
}
.termekkosar a:hover{
    background: rgb(131, 104, 131);
    transition: all 0.3s ease;
}
.sortlinks{
    float:left;
    width: 80%;
    margin: 20px 25px;
    margin-left: 60px;
}
.sortlinks a{
    padding: 15px;
    color: black;
    text-decoration: none;
    background-color: white;
    border-radius: 8px;
}
.sortlinks a:hover{
    color: rgb(131, 104, 131);
    background-color: rgba(149, 119, 149,0.5);
}
.termekreszletes{
    background-color: rgba(255,255,255,0.7);
    width: 85% !important;
    margin: 40px !important;
}
#termekkep{
    float: left;
    width: 40%;
    margin: 15px;
    background-color: rgba(255,255,255,0.7);
    border-radius: 10px;
}
#termekkep img{
    width: 70%;
    height: auto;
    margin-left: 20%;
    padding: 30px;
}
#termekadatok{
    float: right;
    width: 55%;
    margin-top: 15px;
}

#termekkosar{
    margin: 40px 0;
}
#termekkosar a{
    background: rgb(149, 119, 149);
    color:white;
    text-decoration: none;
    border-radius: 8px;
    padding: 10px 30px;
}
#termekkosar a:hover{
    background: rgb(131, 104, 131);
    transition: all 0.3s ease;
}
#termekhosszu{
    padding-right: 20px;
    display: inline-block;
    margin-left: 30px;
}
#megrendeles{
    padding: 20px;
    background-color: rgba(255,255,255,0.7);
    display: inline-block;
    margin: 20px;
    width: 97%;
}
#megrendeles form input{
    display: block;
    width: 300px;
    margin: 20px 20px 20px 0;
}
.formitems form{
    display: inline-block;
    margin-left: 50%; 
    transform: translateX(-50%); 
   -ms-transform: translateX(-50%);
}

#megrendeles form button, .megrendelgomb{
    background: rgb(149, 119, 149);
    color:white;
    text-decoration: none;
    border-radius: 8px;
    padding: 10px;
  margin-left: 46%;
  transform: translateX(-50%); 
  -ms-transform: translateX(-50%);
  border: none;
}
#megrendeles form button:hover, .megrendelgomb:hover{
    background: rgb(131, 104, 131);
    transition: all 0.3s ease;
}

#megrendeles .error{
    color: rgb(131, 0, 0);
}
.szoveg #success{
    color: rgb(0, 77, 0);
}
.logout{
    color: rgb(149, 119, 149);
    background:white;
    text-decoration: none;
    border-radius: 8px;
    padding: 5px;
    border: none;
}
.logout:hover{
    color: rgb(126, 99, 126);
    background:rgb(209, 209, 209);
    transition: all 0.3s ease;
    cursor: pointer;
}

@media(max-width: 600px){
    #termekkep{
        float:none;
        width: 90%;
        margin: 5px auto;
    }
    #termekkep img{
        width: 80%;
        margin: 0;
        padding: 5px;
    }
    #termekadatok{
        float:none;
        width: 100%;
        margin: 5px;
        text-align: center;
    }
}
@media(max-width: 1000px){
    #termekkep{
        float:none;
        width: 70%;
        margin: 5px auto;
    }
    #termekkep img{
        width: 80%;
        margin: 0;
        padding: 5px;
    }
    #termekadatok{
        float:none;
        width: 100%;
        margin: 5px;
        text-align: center;
    }
    #left{
        background: rgba(149, 119, 149,0.3);
        
    }
    #left a{
        color: black;
        font-size: 12px;
    }
    #left .katlista{
        min-width: 60px;
    }
    #top{
        background: none;
    }
    .sortlinks, #top nav{
        width: 100%;
        float:none;
        margin-bottom: 5px;
    }
    nav form{
        display: inline-block;
        position: fixed;
        top: 0;
        left: 0;
        height: auto;
        background: rgba(149, 119, 149,0.8);
        padding: 10px;
        z-index: 9999;
        }
    nav form a{
       margin: 0 auto;
       padding: 5px;
       display: inline-block;
    }
    .sortlinks a{
       font-size: 14px;
       display: inline-block;
       margin: 10px;
    }
    .wrapper:nth-child(1){
        margin-top: 0;
    }
}